# Flutter/Dart/Pub related
**/build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
.idea/
.vscode/
*.iml
*.lock
windows/runner/Debug/
windows/runner/Release/
windows/runner/Profile/

# Others
*.DS_Store
*.swp
